[Unit]
Description=Graphite realtime graphing engine
Wants=basic.target
After=basic.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/graphite-web
User=<%= @user %>
WorkingDirectory=<%= @root_dir %>/webapp/graphite
ExecStart=<%= @root_dir %>/bin/gunicorn -b <%= @bind_address -%>:<%= @port %> -w2 graphite_wsgi:application
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
